/* VyOS config.boot example for deploy-vyos-vcenter.ps1.
 * Copy this file to vyos-router.config.boot, edit it, then deploy.
 */
interfaces {
    ethernet eth0 {
        address "dhcp"
    }
    ethernet eth1 {
        address "192.168.10.1/24"
    }
}
nat {
    source {
        rule 100 {
            outbound-interface {
                name "eth0"
            }
            source {
                address "192.168.10.0/24"
            }
            translation {
                address "masquerade"
            }
        }
    }
}
service {
    dhcp-server {
        shared-network-name LAN {
            subnet 192.168.10.0/24 {
                subnet-id 1
                option {
                    default-router "192.168.10.1"
                    name-server "1.1.1.1"
                    name-server "8.8.8.8"
                }
                range 0 {
                    start "192.168.10.100"
                    stop "192.168.10.200"
                }
            }
        }
    }
    ssh {
        port "22"
    }
}
system {
    host-name "vyos-router"
    login {
        user vyos {
            authentication {
                /* Default password: vyos. Change this hash before production use. */
                encrypted-password "$6$MjV2YvKQ56q$QbL562qhRoyUu8OaqrXagicvcsNpF1HssCY06ZxxghDJkBCfSfTE/4FlFB41xZcd/HqYyVBuRt8Zyq3ozJ0dc."
            }
        }
    }
    name-server "8.8.8.8"
    name-server "1.1.1.1"
}
